.board {
    // background-color: rgba(60, 34, 34, 0.683);
    min-width: 850px;
    width: 850px;
    max-width: 850px;
    left: 125px;
    height: 525px;
    min-height: 525px;
    max-height: 525px;
    position: absolute;
    top: 180px;
    // right: 0;
    // bottom: 0;
    // margin: auto;
    
    
}

.back {
    -webkit-filter: drop-shadow(0 0 0.75rem rgba(34, 34, 34, 0.822));
            filter: drop-shadow(0 0 0.75rem rgba(34, 34, 34, 0.822));
    background-size: cover;
   width: 1100px;
   height: 810px;
   background-image: url('../../../public/l-back.png');
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   
}

.score {
    position: absolute;
    top: -90px;
    right: 380px;
    font-size: 24px;
     color: rgb(24, 24, 24);
    font-family: "Mr Dafoe", serif;
    font-weight: 400;
    width: 100px;
    text-align: center;
 
}



 

