.board {
    background-color: rgba(60, 34, 34, 0.683);
   
    height: 61vh;
    aspect-ratio: 3.02/1.8;
    // min-height: 505px;
    position: fixed;
    top: 0.5vh;
    left: 0;
    right: -6vw;
    bottom: 0;
    margin: auto;
    
}

.score {
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 24px;
    padding: 10px;
    color: white;
}

