.gameOver {
    background-color: black;
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    color: white;
}

.replay {
    display: block;
}