.toggle {
    font-size: 2rem;
    background-color: white;
}

.wrapper {
    
    display: flex;
    gap: 10px;
    cursor: pointer;
    font-family: "Mr Dafoe", serif;
    color: rgb(10, 10, 10);
    font-size: 1.2rem;
    // text-shadow: 1px 1px 2px rgb(27, 27, 27), 0 0 1em rgb(31, 31, 31), 0 0 0.2em rgb(24, 24, 24);
    
}
 

.toggle {
    background-color: #e4c55e;
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
   
}

.switch {
    background-color: #000000;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    transition: all 0.3s linear;

    &_active {
        transform: translateX(120%);
    }
}