body {
  margin: 0;
   background-color: rgb(128, 112, 112);
   background-image: url('../public/back.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   
}

 